<html><head>
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='css/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='css/favicon-16x16.png') }}">
<link href= "{{ url_for('static',filename='css/prism.css') }}" rel="stylesheet" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><title>Assignement 2 - Making Big Bucks</title>
<title>Assignement 2 - Making Big Bucks</title><style>
/* webkit printing magic: print all background colors */
html {
	-webkit-print-color-adjust: exact;
}
* {
	box-sizing: border-box;
	-webkit-print-color-adjust: exact;
}

html,
body {
	margin: 0;
	padding: 0;
}
@media only screen {
	body {
		margin: 2em auto;
		max-width: 900px;
		color: rgb(55, 53, 47);
	}
}

body {
	line-height: 1.5;
	white-space: pre-wrap;
}

a,
a.visited {
	color: inherit;
	text-decoration: underline;
}

.pdf-relative-link-path {
	font-size: 80%;
	color: #444;
}

h1,
h2,
h3 {
	letter-spacing: -0.01em;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 0;
}

.page-title {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.75em;
}

h1 {
	font-size: 1.875rem;
	margin-top: 1.875rem;
}

h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

h3 {
	font-size: 1.25rem;
	margin-top: 1.25rem;
}

.source {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 1.5em;
	word-break: break-all;
}

.callout {
	border-radius: 3px;
	padding: 1rem;
}

figure {
	margin: 1.25em 0;
	page-break-inside: avoid;
}

figcaption {
	opacity: 0.5;
	font-size: 85%;
	margin-top: 0.5em;
}

mark {
	background-color: transparent;
}

.indented {
	padding-left: 1.5em;
}

hr {
	background: transparent;
	display: block;
	width: 100%;
	height: 1px;
	visibility: visible;
	border: none;
	border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

img {
	max-width: 100%;
}

@media only print {
	img {
		max-height: 100vh;
		object-fit: contain;
	}
}

@page {
	margin: 1in;
}

.collection-content {
	font-size: 0.875rem;
}

.column-list {
	display: flex;
	justify-content: space-between;
}

.column {
	padding: 0 1em;
}

.column:first-child {
	padding-left: 0;
}

.column:last-child {
	padding-right: 0;
}

.table_of_contents-item {
	display: block;
	font-size: 0.875rem;
	line-height: 1.3;
	padding: 0.125rem;
}

.table_of_contents-indent-1 {
	margin-left: 1.5rem;
}

.table_of_contents-indent-2 {
	margin-left: 3rem;
}

.table_of_contents-indent-3 {
	margin-left: 4.5rem;
}

.table_of_contents-link {
	text-decoration: none;
	opacity: 0.7;
	border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}

table,
th,
td {
	border: 1px solid rgba(55, 53, 47, 0.09);
	border-collapse: collapse;
}

table {
	border-left: none;
	border-right: none;
}

th,
td {
	font-weight: normal;
	padding: 0.25em 0.5em;
	line-height: 1.5;
	min-height: 1.5em;
	text-align: left;
}

th {
	color: rgba(55, 53, 47, 0.6);
}

ol,
ul {
	margin: 0;
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
}

li > ol:first-child,
li > ul:first-child {
	margin-block-start: 0.6em;
}

ul > li {
	list-style: disc;
}

ul.to-do-list {
	text-indent: -1.7em;
}

ul.to-do-list > li {
	list-style: none;
}

.to-do-children-checked {
	text-decoration: line-through;
	opacity: 0.375;
}

ul.toggle > li {
	list-style: none;
}

ul {
	padding-inline-start: 1.7em;
}

ul > li {
	padding-left: 0.1em;
}

ol {
	padding-inline-start: 1.6em;
}

ol > li {
	padding-left: 0.2em;
}

.mono ol {
	padding-inline-start: 2em;
}

.mono ol > li {
	text-indent: -0.4em;
}

.toggle {
	padding-inline-start: 0em;
	list-style-type: none;
}

/* Indent toggle children */
.toggle > li > details {
	padding-left: 1.7em;
}

.toggle > li > details > summary {
	margin-left: -1.1em;
}

.selected-value {
	display: inline-block;
	padding: 0 0.5em;
	background: rgba(206, 205, 202, 0.5);
	border-radius: 3px;
	margin-right: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	white-space: nowrap;
}

.collection-title {
	display: inline-block;
	margin-right: 1em;
}

time {
	opacity: 0.5;
}

.icon {
	display: inline-block;
	max-width: 1.2em;
	max-height: 1.2em;
	text-decoration: none;
	vertical-align: text-bottom;
	margin-right: 0.5em;
}

img.icon {
	border-radius: 3px;
}

.user-icon {
	width: 1.5em;
	height: 1.5em;
	border-radius: 100%;
	margin-right: 0.5rem;
}

.user-icon-inner {
	font-size: 0.8em;
}

.text-icon {
	border: 1px solid #000;
	text-align: center;
}

.page-cover-image {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 30vh;
}

.page-header-icon {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.page-header-icon-with-cover {
	margin-top: -0.72em;
	margin-left: 0.07em;
}

.page-header-icon img {
	border-radius: 3px;
}

.link-to-page {
	margin: 1em 0;
	padding: 0;
	border: none;
	font-weight: 500;
}

p > .user {
	opacity: 0.5;
}

td > .user,
td > time {
	white-space: nowrap;
}

input[type="checkbox"] {
	transform: scale(1.5);
	margin-right: 0.6em;
	vertical-align: middle;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.image {
	border: none;
	margin: 1.5em 0;
	padding: 0;
	border-radius: 0;
	text-align: center;
}

.code,
code {
	background: rgba(135, 131, 120, 0.15);
	border-radius: 3px;
	padding: 0.2em 0.4em;
	border-radius: 3px;
	font-size: 85%;
	tab-size: 2;
}

code {
	color: #eb5757;
}

.code {
	padding: 1.5em 1em;
}

.code-wrap {
	white-space: pre-wrap;
	word-break: break-all;
}

.code > code {
	background: none;
	padding: 0;
	font-size: 100%;
	color: inherit;
}

blockquote {
	font-size: 1.25em;
	margin: 1em 0;
	padding-left: 1em;
	border-left: 3px solid rgb(55, 53, 47);
}

.bookmark {
	text-decoration: none;
	max-height: 8em;
	padding: 0;
	display: flex;
	width: 100%;
	align-items: stretch;
}

.bookmark-title {
	font-size: 0.85em;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.75em;
	white-space: nowrap;
}

.bookmark-text {
	display: flex;
	flex-direction: column;
}

.bookmark-info {
	flex: 4 1 180px;
	padding: 12px 14px 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bookmark-image {
	width: 33%;
	flex: 1 1 180px;
	display: block;
	position: relative;
	object-fit: cover;
	border-radius: 1px;
}

.bookmark-description {
	color: rgba(55, 53, 47, 0.6);
	font-size: 0.75em;
	overflow: hidden;
	max-height: 4.5em;
	word-break: break-word;
}

.bookmark-href {
	font-size: 0.75em;
	margin-top: 0.25em;
}

.sans { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }
.code { font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }
.serif { font-family: Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif; }
.mono { font-family: iawriter-mono, Nitti, Menlo, Courier, monospace; }
.pdf .sans { font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR'; }

.pdf .code { font-family: Source Code Pro, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR'; }

.pdf .serif { font-family: PT Serif, Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR'; }

.pdf .mono { font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR'; }

.highlight-default {
}
.highlight-gray {
	color: rgb(155,154,151);
}
.highlight-brown {
	color: rgb(100,71,58);
}
.highlight-orange {
	color: rgb(217,115,13);
}
.highlight-yellow {
	color: rgb(223,171,1);
}
.highlight-teal {
	color: rgb(15,123,108);
}
.highlight-blue {
	color: rgb(11,110,153);
}
.highlight-purple {
	color: rgb(105,64,165);
}
.highlight-pink {
	color: rgb(173,26,114);
}
.highlight-red {
	color: rgb(224,62,62);
}
.highlight-gray_background {
	background: rgb(235,236,237);
}
.highlight-brown_background {
	background: rgb(233,229,227);
}
.highlight-orange_background {
	background: rgb(250,235,221);
}
.highlight-yellow_background {
	background: rgb(251,243,219);
}
.highlight-teal_background {
	background: rgb(221,237,234);
}
.highlight-blue_background {
	background: rgb(221,235,241);
}
.highlight-purple_background {
	background: rgb(234,228,242);
}
.highlight-pink_background {
	background: rgb(244,223,235);
}
.highlight-red_background {
	background: rgb(251,228,228);
}
.block-color-default {
	color: inherit;
	fill: inherit;
}
.block-color-gray {
	color: rgba(55, 53, 47, 0.6);
	fill: rgba(55, 53, 47, 0.6);
}
.block-color-brown {
	color: rgb(100,71,58);
	fill: rgb(100,71,58);
}
.block-color-orange {
	color: rgb(217,115,13);
	fill: rgb(217,115,13);
}
.block-color-yellow {
	color: rgb(223,171,1);
	fill: rgb(223,171,1);
}
.block-color-teal {
	color: rgb(15,123,108);
	fill: rgb(15,123,108);
}
.block-color-blue {
	color: rgb(11,110,153);
	fill: rgb(11,110,153);
}
.block-color-purple {
	color: rgb(105,64,165);
	fill: rgb(105,64,165);
}
.block-color-pink {
	color: rgb(173,26,114);
	fill: rgb(173,26,114);
}
.block-color-red {
	color: rgb(224,62,62);
	fill: rgb(224,62,62);
}
.block-color-gray_background {
	background: rgb(235,236,237);
}
.block-color-brown_background {
	background: rgb(233,229,227);
}
.block-color-orange_background {
	background: rgb(250,235,221);
}
.block-color-yellow_background {
	background: rgb(251,243,219);
}
.block-color-teal_background {
	background: rgb(221,237,234);
}
.block-color-blue_background {
	background: rgb(221,235,241);
}
.block-color-purple_background {
	background: rgb(234,228,242);
}
.block-color-pink_background {
	background: rgb(244,223,235);
}
.block-color-red_background {
	background: rgb(251,228,228);
}
.select-value-color-default { background-color: rgba(206,205,202,0.5); }
.select-value-color-gray { background-color: rgba(155,154,151, 0.4); }
.select-value-color-brown { background-color: rgba(140,46,0,0.2); }
.select-value-color-orange { background-color: rgba(245,93,0,0.2); }
.select-value-color-yellow { background-color: rgba(233,168,0,0.2); }
.select-value-color-green { background-color: rgba(0,135,107,0.2); }
.select-value-color-blue { background-color: rgba(0,120,223,0.2); }
.select-value-color-purple { background-color: rgba(103,36,222,0.2); }
.select-value-color-pink { background-color: rgba(221,0,129,0.2); }
.select-value-color-red { background-color: rgba(255,0,26,0.2); }

.checkbox {
	display: inline-flex;
	vertical-align: text-bottom;
	width: 16;
	height: 16;
	background-size: 16px;
	margin-left: 2px;
	margin-right: 5px;
}

.checkbox-on {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}

.checkbox-off {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
}
	
</style></head><body><script src= "{{ url_for('static',filename='js/prism.js') }}"></script><article id="b70b924e-6497-44a8-8c31-7d52b65539fd" class="page sans"><header><img class="page-cover-image" src="https://images.unsplash.com/photo-1555421689-d68471e189f2?ixlib=rb-1.2.1&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb" style="object-position:center 50%"/><div class="page-header-icon page-header-icon-with-cover"><span class="icon">📈</span></div><h1 class="page-title">Assignement 2 - Making Big Bucks</h1></header><div class="page-body"><p id="9f8ddcbe-1ec8-4dbd-8936-fed7c5ae0b32" class="">by <em>Al Shoha Shady, Chawki Anaïs, El Majdoul Oumaïma, Hamouchi Hafsa, Kerkeni Sonia, Maladry Adrien </em></p><h1 id="8826890f-ac74-4f7b-8a1f-7899bdf83bff" class="">💡 Presentation of the problem</h1><blockquote id="4d138dd2-4118-409a-b2cd-9201d73e478c" class="">Who never thought about trading? Nobody, right? </blockquote><blockquote id="5fa8e36c-1a5c-4895-9567-b42316f3522c" class="">But the main problem with trading is that it implies trying to beat people far more experienced than us and with a lot of means. Which means? Computers. </blockquote><blockquote id="e64c9471-df88-4f63-bfb1-9fe9a1e46195" class="">Indeed computers are so much more effective than humans that in February 2017, news Goldman Sach’s New York headquarters fired 600 traders and replaced them with some 200 computer engineers who are overseeing automated trading programs. </blockquote><blockquote id="0ac85f09-7213-4f1e-88e6-535c609180df" class="">So let&#x27;s do the same for currencies. </blockquote><h1 id="694fea92-d6ce-4f72-b9ff-33e368a442ef" class="">📂 Let&#x27;s create our database</h1><p id="f8ff923c-461b-4098-8624-a930c9bd8b72" class="">First we want to create a Database into SQLite that make the basic function. To be more useful, we create a class called Database.</p><pre id="4a3d9f19-8ccc-4c29-a568-c45965b727cd" class="code"><code class="language-python"># Database.py 
import sqlite3
from datetime import datetime
import json
import pandas as pd

class Database(): 
		&quot;&quot;&quot;
    A class used to create, manage and close the database
    ...

    Attributes
    ----------
    name : str
		error : str
		open : bool
		connection : sqlite3.Connection
		cursor : sqlite3.cursor		

    Methods
    -------d
    open()
        Open the database connection
		close()
				Close the database connection
		createCurrencyTable(currency) 
				Create a table for the currency in the database if it not already exists
		insertCurrency(nameTable, currElems) 
				Insert a currency value in the database
		saveJSON(data, curr) 
				Save the a JSON data in the table of the curr
		createBackup() 
				Create a copy of the database to have backup for the development phase
		readSqliteTable(tableName) 
				Read the table in the database and return it in dataframe
    &quot;&quot;&quot;
    def __init__(self, name):
        self.name = name
        self.error = &#x27;&#x27;
        self.open = False
        try:
            self.connection = sqlite3.connect(&#x27;{}.db&#x27;.format(name))
            self.cursor = self.connection.cursor()
            self.open = True

        except sqlite3.Error as error:
            self._handleError(error)


    def open(self):
				&quot;&quot;&quot;
					 Open the database connection
        &quot;&quot;&quot;
        try:
            self.connection = sqlite3.connect(&#x27;{}.db&#x27;.format(name))
            self.open = True
            print(&quot;The Sqlite connection is open&quot;)
        except sqlite3.Error as error:
            self._handleError(error)


    def close(self):
				&quot;&quot;&quot;
					 Close the database connection
        &quot;&quot;&quot;
        if (self.connection):
                self.connection.close()
                self.open = False
                print(&quot;The Sqlite connection is closed&quot;)


    def createCurrencyTable(self, currency):
        &quot;&quot;&quot;
        This method create a database with the name of currency and the default 
        set of parameters of this currency if the table does not already exists
				...

				Parameters
        ----------
        currency : string
            The type of currency of the table we create
        &quot;&quot;&quot;
        try:
            sqlite_create_table_query = &quot;&quot;&quot;CREATE TABLE IF NOT EXISTS &quot;&quot;&quot;+
																				currency +&quot;&quot;&quot;( 
                                        date TEXT NOT NULL PRIMARY KEY,
                                        value REAL NOT NULL
                                        );&quot;&quot;&quot;
            self.cursor.execute(sqlite_create_table_query)
            self.connection.commit()
            print(&quot;SQLite table created&quot;)

        except sqlite3.Error as error:
            self._handleError(error)


    def insertCurrency(self, nameTable, currElems):
        &quot;&quot;&quot;
        Insert a currency value in the database
				...

				Parameters
        ----------
        nameTable : string
            The type of the currency which must be the name of a table
			  currElems : tuple
						The elements of the currency : date, value 
        &quot;&quot;&quot;
        try:
            sqlite_insert_query = &quot;&quot;&quot;INSERT INTO &quot;&quot;&quot;+nameTable+&quot;&quot;&quot;(date, value) 
                                VALUES (?, ?);&quot;&quot;&quot;
            self.cursor.execute(sqlite_insert_query, currElems)
            self.connection.commit()
        except sqlite3.Error as error:
            self._handleError(error)

    def saveJSON(self, data, curr): 
				&quot;&quot;&quot;
        Insert a currency value in the database
				...

				Parameters
        ----------
        nameTable : string
            The type of the currency which must be the name of a table
			  currElems : tuple
						The elements of the currency : date, value 
 
        Returns
        -------
        float
            The best estimation of the future currency value according to the 
            forecasting
        &quot;&quot;&quot;
        self.createCurrencyTable(&quot;USD&quot;)

        for year in data[&quot;rates&quot;].keys():
            print(year + &#x27;: &#x27; + str(data[&quot;rates&quot;][year][curr]))
            self.insertCurrency(curr, ( year, str(data[&quot;rates&quot;][year][curr])))
 
    def createBackup(self):				
				&quot;&quot;&quot;
        Insert a currency value in the database
				...
				&quot;&quot;&quot;
        try:
						dateInString = datetime.now().strftime(&quot;%m_%Y_%H&quot;)
						nameOfCopy = &quot;backupOf&quot; + self.name + dateInString
            backup = Database()
            with backup:
                self.connection.backup(backup, pages=3, progress=_progress)
            print(&quot;backup successful&quot;)

        except sqlite3.Error as error:
            self._handleError(error)

        finally:
            if(backup):
                backup.close()

		def readSqliteTable(self, tableName):
				&quot;&quot;&quot;
				Create a copy of the database to have backup for the development
				...

				Parameters
        ----------
        tableName : string
            The type of the currency which must be the name of a table

        Returns
        -------
        dataframe
            A dataframe of the values of the currency
        &quot;&quot;&quot;
        try:
            print(&quot;Connected to SQLite&quot;)
            df = pd.read_sql_query( 
												&quot;SELECT * from {}&quot;.format(tableName),
												self.connection)
            return df
        except sqlite3.Error as error:
            self._handleError(error)    

    def _handleError(self, error):
        self.error = error
        self._printError()

    def _printError(self):
        print(&quot;Eror in database : &quot;, self.error)


    def __str__(self):
        return f&quot;{self.name}&quot;

    def __del__(self):
        if (self.open): 
            self.close()</code></pre><h1 id="328c6576-8af1-4b81-b971-b66cc7eccddb" class="">📡 Next step: use the frankfurter API </h1><p id="06e276f6-bfa7-4a04-8da8-f75d1d97db99" class="">The next step is to create the fetcher, which will use the Frankfurter API to get the precedents values of the currency and put them in the database</p><pre id="2779e0f5-fa94-4f3a-8462-70eefa91a3e0" class="code"><code class="language-python"># CurrencyFetcher.py 
import requests
from datetime import datetime, date
import json 

class CurrencyFetcher():
		&quot;&quot;&quot;
    A class used to get information for the frankfurter API

    Attributes
    ----------
    host: str

    Methods
    -------
    open()
        Open the database connection
		getOneCurrencyValue()
				Test the connection with the API, return a value
		getCurrencies()
				Return the values and the abbreviation
		getCurrencyName(currencyCode)
				Transform an abbreviation into the name of the currency
		getATimeSerie(currencyCode, beginPeriod, endPeriod)
				Get and return all the values of a currency from begin to endPeriod
		currencyPeriodYear(currencyCode, date) 
				Return a time serie of the value of a currency from a year ago
	  &quot;&quot;&quot;
    defaultHost = &#x27;api.frankfurter.app&#x27;
    def __init__(self, host=defaultHost):
        self.host = host
        
    def getOneCurrencyValue(self):
				&quot;&quot;&quot;
				Test the connection with the API, return a value
				...

        Returns
        -------
        string 
            The get response of the API 
        &quot;&quot;&quot;
				url = &#x27;https://{}/latest?amount=10&amp;from=GBP&amp;to=USD&#x27;.format(self.host)
        res = requests.get(url)
        return res

    def getCurrencies(self):
				&quot;&quot;&quot;
				Return the values and the abbreviation
				...

        Returns
        -------
        json 
            The different currencies and their abbreviation
        &quot;&quot;&quot;
				url = &quot;https://api.frankfurter.app/currencies&quot;
        # transform the text in dictionnary
        currencies = requests.get(url).json()
        print(currencies[&quot;USD&quot;])
        # United States Dollar

    def getCurrencyName(self, currencyCode):
				&quot;&quot;&quot;
				Transform an abbreviation into the name of the currency
				...

        Returns
        -------
        string 
            The name of the currency 
        &quot;&quot;&quot;
        currencies = self.getCurrencies()
        return currencies[currencyCode]

    def getATimeSerie(self, currencyCode, beginPeriod, endPeriod=date.today()):
				&quot;&quot;&quot;
				Test the connection with the API, return a value
				...
				Parameters
				-------
				currencyCode: str
						The code of the currency we want the time serie of
				beginPeriod: date 
						The time of the begin of the period of the time serie
				endPeriod: date 
						The time of the end of the period of the time serie
								
        Returns
        -------
        json 
            The time serie in the form of a json 
        &quot;&quot;&quot;
        params = {&#x27;to&#x27;: currencyCode}
        url = &#x27;https://{host}/{beginDate}..&#x27;.format(
            host=self.host, beginDate=beginPeriod.strftime(&#x27;%Y-%m-%d&#x27;)) # Transformer la date en string 
            # Format de l&#x27;url 
            # Documentation différents moyen de récupérer 
            # Une requête par jour paér Currency 
            # Une requête pour tout
        text_rates = requests.get(url, params=params)
        rates = text_rates.json()
        # Transformation 
        return rates  # dictionnaire

    def currencyPeriodYear(self, currencyCode, date=datetime.today()):
				&quot;&quot;&quot;
				Return a time serie of the value of a currency from a year ago
				...
				Parameters
				-------
				currencyCode: str
						The code of the currency we want the time serie of
				date: date 
						The end of the period of one year the time serie

        Returns
        -------
        json 
            The time serie in the form of a json 
        &quot;&quot;&quot;
				date = datetime(year=date.year-1, month=date.month, day=date.day)
        return self.getATimeSerie(currencyCode, date)</code></pre><h1 id="86ff44bd-80c5-4d8e-9d3f-b72d7bc6ef1d" class="">🛠️ Ok... let&#x27;s put that together</h1><p id="2601eac8-6532-4bb2-a184-dc10bb4700f5" class="">After building our Database and Forecaster classes, we put them into a models directory. </p><p id="7e14d447-8938-4eeb-bcc8-e0f787abad06" class="">Once that done, we create <code>__init__.py</code> file to let us import our classes from other file. </p><p id="428bb3fa-cb01-4718-9a60-c54e1abe0b1f" class="">Now, let&#x27;s create the <code>main.py</code> file</p><pre id="4c9a0700-c3d8-449f-a884-1a65497146d9" class="code"><code class="language-python"># main.py 
from Models.Fetcher import CurrencyFetcher
from Models.Database import Database

# We create the database and the fetcher
database = Database(&quot;Currencies&quot;)
fetcher = CurrencyFetcher()

# We ask for the currency code to fetch 
curr = input(&quot;What is the currency you want to forecast? &quot;)

# We pass the result of the fetcher to the database to save the past values
# of the currency
database.saveJSON(fetcher.currencyPeriodYear(&quot;USD&quot;), &quot;USD&quot;)

# CLose the database 
database.close()</code></pre><p id="55509d89-7ee3-44ff-a7b3-31fd524b56cc" class="">This create a database with the name &quot;Currencies&quot; with the dollar values from one year ago in the &quot;USD&quot; table. </p><p id="21a7ee8c-db80-4364-94be-32f53c58ce24" class="">
</p><hr id="25ec537d-eb67-4e72-8adc-ee5f6cfe7aed"/><h1 id="61caa37b-8eb8-4473-b2c6-b1efda41f5ba" class="">🕛 Back to the future - forecasting</h1><p id="2357824e-0563-404f-a249-e5fda49f367e" class="">Ok... now we have the time series for a year in our database and we can now forecast the value of the currency in the future. To forecast the value we will use a double exponential smoothing.</p><pre id="5249e6c3-75c9-4ee2-83c0-a587011d1296" class="code"><code class="language-python"># Forecaster.py
import pandas as pd 
import numpy as np
from .Database import Database 
import sqlite3

class Forecaster():
    &quot;&quot;&quot;
    A class used to forecast the data 
    ...
		Attributes
    ----------
    database : Database

    Methods
    -------
		forecast(curr)
				Forecast the currency value of tomorrow with the data stored in database
    double_exponential_smoothin(actuals, alpha, beta)
        Forecast the next value of the currency according to the double 
        exponential method. 
    &quot;&quot;&quot;

    def __init__(self, database): 
        &quot;&quot;&quot;
        Parameters
        ----------
        database : Database
            The database where the data of the previous and actual exchange
            rates are saved. 
        currency : str
            The code of the currency we want to forecast.
        &quot;&quot;&quot;
        self.database = database 

    def forecast(self, curr):
        &quot;&quot;&quot; 
				Forecast the currency value of tomorrow with the data stored in database
        ...
				Parameters
        ----------
        curr : str
            The code of the currency we want to forecast the value
            
        Returns
        -------
        float
            The best estimation of the future currency value according to the 
            forecasting
        &quot;&quot;&quot;
        # if not self.database.tableExists(curr):
        #     print(&#x27;Table &quot;{}&quot; does not exist&#x27;.format(curr))
        #     return
        try: 
            actuals = self.database.readSqliteTable(curr)[&quot;value&quot;]
            forecast = self.double_exponential_smoothing(actuals, 0.5, 0.5)
            return forecast
        except sqlite3.OperationalError as error: 
            print(error)
        except: 
            print(&quot;Il y a eu une erreur avec le forecast&quot;)


    def double_exponential_smoothing(self, actuals, alpha, beta):
        &quot;&quot;&quot; Use the double exponential to forecast future exchange rates. 
        Parameters
        ----------
        actuals : dataframe
            The time-series of the values we already have for the currency
        alpha : float
            The first parameter of the double exponential, it is the inerty of
            the variation in the currency
        beta : float 
            The second parameter. 
            
        Returns
        -------
        float
            The best estimation of the future currency value according to the 
            forecasting
        &quot;&quot;&quot;
        size_series = len(actuals)
        
        forecast = np.full(size_series + 1, np.NaN)
        a = np.full(size_series + 1, np.NaN)
        b = np.full(size_series + 1, np.NaN)
        
        a[0] = actuals[0]
        a[1] = actuals[1]
        b[1] = actuals[1] - actuals[0]
        
        for i in range(2, size_series):
            forecast[i] = a[i - 1] + b[i - 1]
            a[i] = alpha * actuals[i] + (1 - alpha) * (a[i - 1] + b[i - 1])
            b[i] = beta * (a[i] - a[i - 1]) + (1 - beta) * b[i - 1]
            
        return a[-2] + b[-2]</code></pre><p id="008de25a-cdb3-40f7-af08-6bb742105319" class="">We got our forecasted value! Let&#x27;s begin to be rich!</p><p id="2ba88b6f-a594-4ba4-a55c-121ad34a08ae" class="">...</p><p id="292494c8-f39c-498f-a7da-fa1b58a7aac7" class="">But before, just to be sure. We prefer compare this value to actual one, just to see if the forecasting is doing well. </p><h1 id="666a3339-f323-44a4-807a-a7ffbb71ded7" class="">🔐 Data theft - scraping</h1><p id="cea4c42a-1049-470e-a00a-48ff086aa984" class="">Ok so... we need the actual value. But the we can not have it with Frankfurter (in fact the it provide it but let assume it does not). So let&#x27;s look anywhere else. Let&#x27;s look in the European Central Bank website. </p><pre id="adc53905-b7aa-4f6e-99be-4d0e6dc2b652" class="code"><code class="language-python"># Scraper.py 
import requests
from datetime import date, datetime
from bs4 import BeautifulSoup
import time
import pandas as pd
from requests_futures.sessions import FuturesSession

class Scraper(): 
    defaultUrl = &quot;https://www.ecb.europa.eu/stats/&quot;+\
									&quot;policy_and_exchange_rates/euro_reference_exchange_rates&quot; +\
									&quot;/html/index.en.html&quot;

    def __init__(self, database):
        self.lastUpdate = date(1970, 1, 1)
        self.session = FuturesSession()
        self.database = database

    def getCurrentReferenceRates(self):
        future = self.session.get(self.defaultUrl)
        res = future.result()
				soup = BeautifulSoup(res.text,&quot;lxml&quot;)
				table = soup.find(&quot;table&quot;)
				rows = table.find_all(&quot;tr&quot;)[1:]
				dico ={}
				for row in rows:
				    element = row.find_all(&quot;td&quot;)
				    dico[element[0].text]=float(element[2].text)
				return dico

    def readWithPanda(self):
        df = pd.read_html(self.defaultUrl)
        return df

</code></pre><h1 id="fccdc356-a3e4-40e4-a79e-12447404416a" class="">🕸️ Launch on the Web</h1><p id="fb0e9ad2-714d-487b-a30d-5653029fbace" class="">Okay now we have all the code to produce our forecast and get the new values of the currencies. </p><p id="434911af-457f-4770-ae79-9f30d79b9b6a" class="">Let&#x27;s put them on a server. </p><p id="867cfe31-1cbe-4913-bba0-b8e60865167c" class="">To do that we have to make a certain number of steps to push the code on the Heroku server (creating a Procfile, init a repo, create requirements, and so on). </p><p id="3d3e288a-c206-4beb-8ea8-2f26dda39cbc" class="">Then we have to create our router, that we will create with the Flask library, in the <code>main.py</code>. </p><pre id="35869746-cb76-4670-aa8b-aff931f548f2" class="code"><code class="language-python"># First we import all the librabries needed
from flask import Flask
from .Models.Fetcher import CurrencyFetcher
from .Models.Database import Database
from .Models.Forecaster import Forecaster
from .Models.Scraper import Scraper
from flask import render_template
import json
import os

# Then we create our flask app
app = Flask(__name__)

# If the database does not already exists, we create a new one
# and we fetch all the data from the frankfurter api to put them
# in the database
if not os.path.exists(&quot;Currencies.db&quot;):
    database = Database(&quot;Currencies&quot;)
    fetcher = CurrencyFetcher()
    currencies = fetcher.getCurrencies()
    for currency in currencies.keys():
        if (currency == &quot;EUR&quot;):
            continue
        database.saveJSON(fetcher.currencyPeriodYear(currency), currency)
    database.close

# If the url is followed by nothing, the app return the main view with the
# explanation of our project.


@app.route(&#x27;/&#x27;)
def index():
    return render_template(&quot;MakingBigBucks.html&quot;)

# Endpoint for the verification for Atrigger.com


@app.route(&#x27;/ATriggerVerify.txt&#x27;)
def verify():
    return &quot;&quot;&quot;B80858ACEF821070326ED28FCD1A4DE3
This is ATrigger.com API Verification File.
This file should be placed on the root folder of target url. This file is unique for each account in ATrigger.com
http://example.com/mySite/Task?name=joe        This file should be available at: http://example.com/ATriggerVerify.txt
http://sub.example.com/mySite/Task?name=joe    This file should be available at: http://sub.example.com/ATriggerVerify.txt
&quot;&quot;&quot;

# Endpoint used everyday by ATrigger.com to update the database
# This return the actual forecast of tomorrow
# The output of this can be obtained with a simple get request on 
# https://digital-firm-assignement-2.herokuapp.com/api/forecast

@app.route(&#x27;/api/forecast&#x27;)
def forecast():
    database = Database(&quot;Currencies&quot;)
    fetcher = CurrencyFetcher()
    scraper = Scraper(database)
    rates = scraper.getCurrentReferenceRates()
    forecaster = Forecaster(database)
    forecasts = dict()
    for currency in fetcher.getCurrencies():
        if (currency == &quot;EUR&quot;):
            continue
        database.insertTodayCurrency(currency, rates[currency])
        forecasts[currency] = forecaster.forecast(currency)

    return {&quot;forecasted values&quot;: forecasts}</code></pre><p id="fe9d2516-dc89-48fa-90c1-ea3ff00271ee" class="">Then to call the API everyday at midnight we created a trigger on <a href="http://atrigger.com">ATrigger.com</a> which send a request to the API, and make the <code>forecast()</code> method. </p><p id="1bf9a59a-c7a1-4784-9959-97d43624e6c1" class="">The request is the folowing: </p><pre id="1c13efc0-8a34-46b6-8ae8-c62f6a3dc090" class="code"><code>&quot;https://digital-firm-assignement-2.herokuapp.com/api/forecast&quot;</code></pre><figure id="6d4a09d5-73a4-4dc7-a83d-bdbde4902b76" class="image"><a href=""><img style="width:2212px" src={{ url_for('static',filename='images/atrigger.png') }}/></a></figure><p id="73ddf29e-036c-4d85-8cb1-75f3b15daac3" class="">
</p><hr id="399e0cf2-cf63-4651-bc47-6423a022084f"/><h1 id="20b85095-3a14-440f-96e1-fa5ea5dfda99" class="">🧠 Challenges </h1><p id="6982b962-3593-4df1-88e3-5a118d49539f" class="">
</p><blockquote id="28224402-8634-4c72-a543-138f2bf71526" class="">The key to life is accepting challenges</blockquote><p id="7b79513e-b991-449d-9b14-9964a838bd30" class=""><em>Adrien Maladry</em>: </p><p id="02736afa-425e-4e6d-8154-83006dfeac44" class="">Personally, my part of the work was the scraping. Of course, I had never done this before, but this idea of “stealing” data on a webpage in order to use them in our code really enjoyed myself.</p><p id="b709c02e-2ac5-43c8-848c-bf9de1894d60" class="">First of all, to understand the basis of scraping, I watched a tutorial from the Youtuber <em>Ninja Scripter</em> called “Apprendre le web scraping avec python français”. By imitating the <em>Ninja Scripter </em>at the beginning, and then by changing some elements in the code step by step, I quicky learned how to get the HTML from a website and how to “parse” it. I also discovered how to inspect the HTML code of a webpage.</p><p id="529616f2-5d76-40ea-ae01-ada2f6229306" class="">This new skills learned, I wanted to create a dictionnary that would give the spot rate of each currency. Creating a dictionnary with python is easy. But I met difficulties to select with precision the elements of my webpage I wanted to put in it. That was, in my opinion, the biggest challenge of this scraping task.</p><p id="1432f9db-cd85-4e07-9a5c-0a0e15fc9106" class="">By using the inspection of the HTML webpage, I tried a lot of combinations. For example, at a moment, I tried to select elements by using the <code><mark class="highlight-orange">id</mark></code> and the <code><mark class="highlight-orange">class</mark></code>. Finally, I decided to select the table. Then, I selected all the rows of the table thanks to <code><mark class="highlight-orange">tr</mark></code> ( = table row). And for each row, I asked to select each cell thanks to <code><mark class="highlight-orange">td</mark></code> ( = table division). This problem solved, I finally created the dictionnary.</p><p id="7abbb17d-c7dc-468e-b247-bdb6b75eb87f" class=""><em>Anaïs Chawki &amp; Oumaïma El Majdoul</em></p><p id="ba0c8205-34a5-40ea-a719-deacbc3bce1b" class="">We both worked on the database part because it was a big part. Indeed, two was not too many because understanding where to start and how to organize the database was our first difficulty. To solve this &quot;difficulty&quot; (we think it&#x27;s a problem that almost everyone had), being two on it was a great help and a less stressful. The opinion of all the members of the group also helped us to organize ourselves better.</p><p id="a2457932-34df-4999-9bfd-ac2799151a48" class="">Then for the database we had to work with a relational database in our case it was SQLite3. The difficulty was that none of us two had the basics. We already had the theoretical notions that we saw in class this year and a first approach in exercises sessions but we quickly realized that it was much more complex than that and it was not enough to accomplish our task.</p><p id="b1f91cc5-7694-4187-b544-690753297b12" class="">First of all, we had to understand exactly what SQlite was and what it did exactly, i.e. a kind of big library that runs in SQL language that allows to store tables and data on the same file and all this without a server (we surely don&#x27;t teach you anything but for us it wasn&#x27;t immediately clear). Different sites or blogs like Sqlitetutorial or the Sqlite site really helped us to understand everything.</p><p id="169852a7-2659-4c5e-99c1-de3a290e1426" class="">Once we understood this, we had to understand how to use it. Fortunately, there are many tutorials on the internet that helped us to create the base but also to use it (special thanks to Freecodecamp.org/Codemy.com or DigitalOcean who really helped us!). We understood how to import the database, connect it, create the different tables and insert records with the docstring method and we were able to draw a parallel with the theoretical notions we had taken. Then we had fun.</p><p id="0f7e161f-9cdf-42df-a94f-f1cc2d85a0b8" class=""><em>Sonia Kerkeni</em>: </p><p id="f2e56a21-0430-4146-83c1-a63f7a3bba55" class="">“Fetcher” comes from “fetch” which is the equivalent of “request.get” but in Javascript. We found it more pretty than “requester” or whatever … The aim of this part is to get information from the internet, to retrieve data from the Frankfurter server.</p><p id="e901969d-ce48-4e38-8a5b-aac6ed19f021" class="">Through API requests, we were able to retrieve the data from the server (HTML). A first challenge occurred here: To retrieve the information in a suitable format. The documentation led us to use <em>json </em>in order to transform the text obtained into a dictionary and thus retrieve the information in a more &quot;precise&quot; way (the date for example).</p><p id="aeea2137-d932-41b5-a740-448142b65be9" class="">A second challenge encountered during the coding of this part concerns the format of the URL. It was necessary to think about how to retrieve the information in the best possible way. In the documentation, there were different ways to retrieve the information. One way was to make one request for one currency per day, another way was to make a single request to retrieve everything at once (and have all the information). The first way therefore requires many more requests, requiring much more computational energy, which is not ideal. However, the second way poses the problem of providing a large amount of information at once (which is not necessarily needed), which is not optimal in terms of memory. Finally, we decided to retrieve the information related to a currency for one year.</p><p id="0cc39cc4-a48e-4989-9452-4cdf1df19e64" class=""><em>Hamouchi Hafsa:</em></p><p id="3275809f-8f56-4ccb-8f61-628454e6bcac" class="">For my part, I was assigned to the creation of our site with HTML. 
I started doing the HTML part using the concepts we saw in session 3 (leveraging the Web) and also searched some concepts on the internet. Thus, I started by doing the html code of our site normally. 
Then, I wanted to make the site more attractive by its design. For this, I decided to use an HTML generator. So I chose Bootstrap STUDIO. But unfortunately, the rendering was not what I expected. 
Hence, I had the idea to export an html of Notion instead. But while exporting HTML from Notion, I encountered a problem. Indeed, it did not know how to read the code lines with the colors and the colors that we had in our HTML were not displayed correctly on our site. 
thenceforth, I used the internet service to understand how to solve this problem. And that&#x27;s how I understood that it was necessary to add files in the code notably the CSS and JavaScript files from prims.js </p><p id="5bae2baa-87b3-4a00-9da9-9bc3affe03ae" class="">Once the files were downloaded, I put them into a <code>static</code> folder.  </p><p id="d2a6432f-f3be-4676-9507-df63e8ba6dcb" class=""><em>Shady Al Shoha</em>: </p><p id="e0a715b5-b452-46bc-a3d4-7cca80ede175" class="">During this project I was in charge of supervising the liaison of the different parties and managing the recurrent (or temporal) side of the project with one request per day. Since the code was scriptural and was starting to get long, I decided to refactor the code in class format which allowed a better readability of the code.
Then I had to make the code run every day at a certain time to update the forecasts. To do this, I decided to use an external api (<a href="http://atrigger.com/">http://atrigger.com/</a>) that allowed to trigger an api that I built in Flask and host on Heroku (<a href="http://heroku.com/">heroku.com</a>).</p><h1 id="ae6bfff6-caba-4fda-bdba-927e8e526c65" class="">Conclusion</h1><p id="e07b8078-6032-43d8-a0f1-1df1b29b29ae" class="">Thanks to this work we were able to develop a complete solution allowing us to generate income in a completely automated way. Obviously the few lines of code we have done above will not be enough to create a relevant income and this is due to the simplicity of our forecasting method or the speed of execution of our code. Moreover, we would need to implement in parallel a means of exchanging money in an automated way. And these performances would probably not be sufficient to have an advantage and this program does not take into account the exchange costs or optimize the investments compared to the initial capital.
Nevertheless, this work has allowed us to understand the extent to which digital is taking and will take its place in our society. Here we have created in a few hours of work a code that would allow us to replace the work of one person. And the advantages of using a technological solution are numerous compared to a human worker: availability, price, rigor, precision, etc.
The question that this work has raised in our minds is the following: won&#x27;t computers replace humans one day? And if so, will it benefit only a handful of people who will own the technology, or all of humanity?</p><p id="ab37cfa6-84c2-49ab-b7c8-4f7b004e9f40" class="">
</p><p id="2bbb398f-df12-47a6-8935-1f38fb5b3eae" class="">
</p><p id="ca28bd2a-8f34-4d54-932d-fa12e5f32513" class="">You can find the code on the following GitLab</p><figure id="ca220394-7293-43e2-a581-93521dbf6f71"><a href="https://gitlab.com/Shadyshoha/digital-firm-assignement-2" class="bookmark source"><div class="bookmark-info"><div class="bookmark-text"><div class="bookmark-title">Shady Al Shoha / digital-firm-assignement-2</div><div class="bookmark-description">GitLab.com</div></div><div class="bookmark-href"><img src="https://gitlab.com/assets/favicon-7901bd695fb93edb07975966062049829afb56cf11511236e61bcf425070e36e.png" class="icon bookmark-icon"/>https://gitlab.com/Shadyshoha/digital-firm-assignement-2</div></div><img src="https://assets.gitlab-static.net/assets/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff65dbcb8ed50dca58.png" class="bookmark-image"/></a></figure></div></article></body></html>